@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap');
.main-svg {
  background-color: transparent !important;
}
html {
  background-image: linear-gradient(to bottom right, blue, green);
}
#h1 h1 {
  font-family: 'Londrina Solid', sans-serif;
  letter-spacing: 2px;
  font-weight: 300!important;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
  border: 3px solid transparent;
}
.mapboxgl-ctrl-group-search .mapboxgl-ctrl-search, .mapboxgl-ctrl-group-search .mapboxgl-ctrl-list {
  width: 500px;
  text-align: left;
}
.mapboxgl-ctrl-group-search {
  max-height: 500px;
  overflow-y: scroll;
}
.mapboxgl-ctrl-search-input {
  border: none;
  background: transparent;
  width: 100%;
  background-image: url("../images/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px -2px;
  padding-left: 30px;
}
.mapboxgl-ctrl-search-input:focus {
  outline: none;
}
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
  z-index: auto!important;
}
.mapboxgl-user-location-dot::after {
  background: url("../images/place3.png") no-repeat;
  width: 100px!important;
  height: 100px!important;
  border: none!important;
  background-color: transparent!important;
  box-shadow: 0px 0px black!important;
  background-position: center;
  margin-left: -40px;
  margin-top: -40px;
}
.mapboxgl-user-location-dot::before {
  display: none;
}
.mapboxgl-user-location-dot {
  background-color: transparent!important;
}
#sub{
  margin-bottom: 0px;
  line-height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: dodgerblue;
  transition: background-color 0.4s;
  border: none;
}
#sub:hover, #sub:focus {
  background-color: #0d80ee;
  outline: none;
}
myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > ul:nth-child(2){
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > ul:nth-child(2) > li, #myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:nth-child(1), #myModal4 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #dedede;
  transition: background-color 0.4s;
  border: none;
}
.info {
  float: right;
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
  line-height: 20px;
  transition: background-color 0.4s;
}
.info:hover, .info:focus {
  background-color: #0d80ee;
  outline: none;
}
#myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:nth-child(1), #myModal4 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input{
  margin-bottom: 0px;
  line-height: 30px;
}
#myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > ul:nth-child(2) > li:hover, #myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > ul:nth-child(2) > li:focus,#myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:nth-child(1):hover, #myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:nth-child(1):focus,#myModal4 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:hover, #myModal4 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:focus {
  background-color: #cecece;
  outline: none;
}
#search {
  background-image: url("../images/search.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  cursor: pointer;
  padding-left: 25px;
}

#myModal3 > div:nth-child(1) > div:nth-child(2) > p:nth-child(2) > input:nth-child(1){
  background-image: url("../images/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 40px;
}
#h1 {
  width: 100vw;
  background-color: #eee4;
  padding: 20px;
  margin: -10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0;
  text-align: center;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #eee4;
  margin-left: -5px;
  margin-right: -5px;
}
#h1 a {
  margin-top: -10px;
  margin-left: 10px;
}
#logo {
  display: block;
  border-radius: 10px;
}
#myDiv {
  margin: 15px;
  border-radius: 25px;
  background-color: #fff4 !important;
  margin-left: 25px;
  box-shadow: -5px 5px 5px #0004 inset;
  padding: 20px;
  height: 100%;
}
#map {
  border-radius: 10px;
  width: 100%;
  height: 500px;
}
#wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
#content {
  flex: 60%;
  padding: 10px;
  padding-top: 0px;
  margin-right: -5px;
  padding-right: 15px;
  background-color: #eee4;
}
#side {
  flex: 40%;
  background-color: #eee4;
  padding: 20px;
  margin-right: 10px;
  height: calc(100vh - 85px);
  overflow-y: scroll;
  margin-right: -20px;
}
.button {
  display: inline-block;
  border-radius: 5px;
  transition: box-shadow 0.4s;
  box-shadow: 0px 4px black;
  text-decoration: none;
  border: 3px solid black;
  padding: 2px;
  margin: 5px;
  color: black;
}
.button:hover {
  box-shadow: 0px 0px black;
}
li span {
  background-color: #333;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
li {
  line-height: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5vw;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  animation-name: animatetop;
  animation-duration: 1s
}

.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: 10vw;
  padding: 20px;
  border-radius: 10px;
  width: 70vw;
  animation-name: animatetop;
  animation-duration: 1s
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  padding: 10px;
  margin-top: -20px;
  margin-right: -10px;
  font-weight: bold;
}

.close2 {
  background-color: #1e90ff;
  color: #fff;
  float: right;
  font-size: 20px;
  padding: 10px;
  margin: -10px;
  font-weight: bold;
  border-radius: 5px;
}

.close3 {
  color: #aaa;
  float: right;
  font-size: 40px;
  padding: 10px;
  margin-top: -20px;
  margin-right: -10px;
  font-weight: bold;
}

.close4 {
  color: #aaa;
  float: right;
  font-size: 40px;
  padding: 10px;
  margin-top: -20px;
  margin-right: -10px;
  font-weight: bold;
}

#myModal2 > div:nth-child(1) > div:nth-child(1) > h3:nth-child(1){
  display: inline-block;
  max-width: 90%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  background-color: #0d80ee;
  text-decoration: none;
  cursor: pointer;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#myModal > div:nth-child(1) > img:nth-child(3) {
  width: 100%;
  border-radius: 10px;
}
#myModal > div:nth-child(1) > div:nth-child(2){
  width: 100%;
}
#myModal > .modal-content {
  content: "";
  clear: both;
  display: table;
}

a:not(.button) {
  color: dodgerblue;
  text-decoration: none;
}
a:hover:not(.button) {
  text-decoration: underline;
}
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}
.mapboxgl-ctrl-terrain {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz4gICAgPGcgY2xhc3M9ImN1cnJlbnRMYXllciIgc3R5bGU9IiI+PHRpdGxlPkxheWVyIDE8L3RpdGxlPjxwYXRoIGZpbGw9IiIgZmlsbC1vcGFjaXR5PSIxIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1vcGFjaXR5PSIxIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1kYXNoYXJyYXk9Im5vbmUiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtZGFzaG9mZnNldD0iIiBmaWxsLXJ1bGU9Im5vbnplcm8iIG9wYWNpdHk9IjEiIG1hcmtlci1zdGFydD0iIiBtYXJrZXItbWlkPSIiIG1hcmtlci1lbmQ9IiIgaWQ9InN2Z18xMCIgZD0iTSAzLjY5OTk5OTcxODM2ODA1NTMgMjQuOTU5OTk5ODIxMTg2MDcgTCA4LjIgMTUuOSBMIDEwLjYgMTguOTUgTCAxOC4wNSA1LjcgTCAyMC4xIDkuOCBMIDIyLjI1IDYuNiBMIDI2LjcgMjQuMjUgTCAzLjY5OTk5OTcxODM2ODA1NTMgMjQuOTU5OTk5ODIxMTg2MDcgeiIgc3R5bGU9ImNvbG9yOiByZ2IoMCwgMCwgMCk7Ii8+PC9nPjwvc3ZnPg==);
}
.mapboxgl-ctrl-styletoggle-satellite {
  background-image: url(../images/bird-icon.svg);
}
.mapboxgl-ctrl-styletoggle-outdoors {
  background-image: url(../images/bird-icon-2.svg);
}